html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******** Now I can CSS ********/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Gotham, gotham, Tahoma, Geneva, sans-serif;
  height: 10000px;
}

a {
  text-decoration: none;
}

.navbar-container {
  position: sticky;
  top: 0;
  z-index: 999;
  background: white;
}

.main-nav {
  height: 80px;
  /* border: 1px solid purple; */
}

.nav-one {
  display: flex;
  list-style: none;
  /* border: 1px solid red; */
  border-bottom: 1px solid rgb(216, 216, 216);
  margin: 0 4vw;
}

.nav-one li {
  list-style: none;
  justify-content: center;
  align-self: center;
  /* border: 1px solid red; */
  flex: 1;
}

.nav-one li > span {
  align-self: center;
  font-size: 13px;
  font-weight: 100;
  /* border: 1px solid saddlebrown; */
}

.nav-one li:nth-child(1):hover .buy-dropdown {
  display: block;
  position: absolute;
  z-index: 5;
}

.nav-one li:nth-child(2):hover .rent-dropdown {
  display: block;
  position: absolute;
  z-index: 5;
}

.nav-one li:nth-child(3):hover .sell-dropdown {
  display: block;
  position: absolute;
  z-index: 5;
}

.nav-one li:nth-child(4):hover .loans-dropdown {
  display: block;
  position: absolute;
  z-index: 5;
}

.nav-one li:nth-child(5):hover .agent-dropdown {
  display: block;
  position: absolute;
  z-index: 5;
}

/* Container for Buy, Rent, Sell, ... boxes */
.nav-one-left-block {
  display: flex;
  width: 475px;
  align-items: flex-start;
  /* border: 1px solid red; */
  /* flex: 1; */
}

/* Controls each Buy, Rent, Sell, ... Boxes */
.nav-one-left-block > li {
  text-align: center;
  align-content: flex-start;
  /* border: 1px solid blue; */
  padding: 24.5px 10px;
}

/* Controls each Buy, Rent, Sell, ... Text content */
.nav-one-left-block > li > span {
  align-content: flex-start;
  /* padding: 0 30px; */
  font-size: 13px;
  font-weight: 400;
  /* border: 1px solid green; */
}

.nav-one-right-block {
  display: flex;
  width: 475px;
  align-items: flex-start;
  /* border: 1px solid red; */
}

.nav-one-right-block > li {
  text-align: center;
  align-content: flex-start;
  padding: 10px;
  /* border: 1px solid blue; */
}

.nav-one-right-block > li > span {
  align-content: flex-start;
  font-size: 13px;
  font-weight: 400;
  /* border: 1px solid green; */
}

.main-dropdown {
  display: none;
  width: 100%;
  height: 200px;
  background-color: green;
}

.main-trigger:hover .main-dropdown {
  display: block;
}

.buy-content-left ul li,
.rent-content-left ul li,
.sell-content-left ul li,
.loans-content-left ul li,
.agent-content-left ul li {
  text-align: left;
}

.rent-content-middle ul li,
.loans-content-middle ul li {
  text-align: left;
}

.buy-content-right ul li,
.rent-content-right ul li,
.sell-content-right ul li,
.loans-content-right ul li,
.agent-content-right ul li {
  text-align: left;
}

.buy-dropdown {
  position: relative;
  width: 93.8%;
  display: none;
  top: 80px;
  background: white;
  border: 1px solid rgb(216, 216, 216);
  /* border: 1px solid red; */
}

.buy-dropdown > div > ul > li,
.rent-dropdown > div > ul > li,
.sell-dropdown > div > ul > li,
.loans-dropdown > div > ul > li,
.agent-dropdown > div > ul > li {
  padding: 12px;
  /* border: 1px solid blue; */
  font-size: 13px;
}

.buy-content-left {
  /* border: 1px solid green; */
  padding: 17px;
  float: left;
  /* border-right: 1px solid rgb(216, 216, 216); */
}

.buy-content-right {
  padding: 17px;
}

.buy-content-left ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.buy-content-left ul li:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.rent-dropdown {
  width: 93.8%;
  top: 80px;
  background: white;
  right: 40px;
  display: none;
  border: 1px solid rgb(216, 216, 216);
  /* border: 1px solid red; */
}

.rent-dropdown div ul li {
  padding: 12px;
}

.sell-dropdown {
  width: 93.8%;
  top: 80px;
  background: white;
  right: 40px;
  display: none;
  border: 1px solid rgb(216, 216, 216);
}

.sell-dropdown div ul li {
  padding: 12px;
}

.loans-dropdown {
  width: 93.8%;
  top: 80px;
  background: white;
  right: 40px;
  display: none;
  border: 1px solid rgb(216, 216, 216);
}

.loans-dropdown div ul li {
  padding: 12px;
}

.agent-dropdown {
  width: 93.8%;
  top: 80px;
  background: white;
  right: 40px;
  display: none;
  border: 1px solid rgb(216, 216, 216);
  /* border: 1px solid red; */
}

.agent-dropdown div ul li {
  padding: 12px;
}

.rent-content-left {
  /*   border: 1px solid red; */
  float: left;
  padding: 17px;
}

.rent-content-middle {
  /*   border: 1px solid green; */
  float: left;
  padding: 17px;
}

.rent-content-right {
  /*   border: 1px solid blue; */
  padding: 17px;
}

.sell-content-left {
  float: left;
  padding: 17px;
}

.sell-content-right {
  padding: 17px;
}

.loans-content-left {
  float: left;
  padding: 17px;
}

.loans-content-middle {
  float: left;
  padding: 17px;
}

.loans-content-right {
  padding: 17px;
}

.agent-content-left {
  float: left;
  padding: 17px;
}

.agent-content-right {
  /* border: 1px solid blue; */
  float: left;
  padding: 17px;
}

.agent-content-left ul {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  /* border: 1px solid forestgreen; */
}

.agent-content-left ul li:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  /* border: 1px solid darkmagenta; */
}

.agent-content-right ul {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  /* border: 1px solid blue; */
}

.agent-content-right ul li:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  /* border: 1px solid red; */
}

.logo {
  padding: 0 35px;
  /* position: relative;
  right: 45px; */
}

.nav-2 {
  grid-area: nav2;
  background-color: #d9f0f9;
  display: block;
  position: sticky;
  top: 0;
}

.nav2left {
  padding-left: 260px;
}

.nav-link-container {
  width: 400px;
  display: flex;
}

.nav-link-container span {
  flex: 1;
  height: 50px;
}

.nav-3 {
  grid-area: nav3;
  background-color: white;
}

.slideshow-container {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 416px;
  overflow: auto;
  white-space: nowrap;
}

.large-tile {
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: solid;
  border-right-width: 2px;
  color: rgb(42, 42, 51);
  cursor: pointer;
  display: block;
  height: 416px;
  max-width: 550px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.small-tile {
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: solid;
  border-right-width: 2px;
  color: rgb(42, 42, 51);
  cursor: pointer;
  display: block;
  height: 208px;
  width: 280px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.footerCaption_2r5qf {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 22.5px;
  margin-block-end: 15px;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin: 0 0 15px 0;
}

/* white nav bar */

#whiteNavBar {
  clear: both;
  border-bottom-color: lightgrey;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 50px;
}

#whiteNavBarPublicViewOwnerView {
  float: left;
  font-size: 14px;
}

#whiteNavBarAddressLinks {
  float: right;
  font-size: 12px;
}

.publicViewOwnerViewText {
  color: #006aff;
  background-color: white;
}

.publicViewOwnerViewText:hover {
  color: #006aff;
}

#ownerViewText {
  color: black;
}

.whiteNavBarAddressLinks {
  color: lightgrey;
}

.whiteNavBarAddressLinks:visited {
  color: lightgrey;
}

.whiteNavBarAddressLinks:hover {
  color: #006aff;
}
